<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
      <string>gamekit</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>10.3</string>
    <key>UIInterfaceOrientation</key>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <key>DTSDKName</key>
    <string>iphoneos10.3</string>
    <key>CFBundleName</key>
    <string>gta3sa</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-220x20</string>
          <string>AppIcon-229x29</string>
          <string>AppIcon-240x40</string>
          <string>AppIcon-257x57</string>
          <string>AppIcon-260x60</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>GTA: SA</string>
    <key>DTSDKBuild</key>
    <string>14E269</string>
    <key>CFBundleShortVersionString</key>
    <string>1.07.7</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16E195</string>
    <key>DTPlatformBuild</key>
    <string>14E269</string>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>8E2002</string>
    <key>CFBundleVersion</key>
    <string>1.07.7</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
      <string>BRADLEYHANDITCTTBOLD.TTF</string>
      <string>ChaletComprime-CologneSixty.otf</string>
      <string>GTALICENSE-REGULAR.TTF</string>
      <string>HELVETICANEUELT-LIGHTCOND.TTF</string>
      <string>HELVETICANEUELT-MEDIUMCOND.TTF</string>
      <string>HELVETICANEUELTCOM-MDCN.TTF</string>
      <string>HELVETICANEUELTCYR-LIGHTCN.TTF</string>
      <string>HELVETICANEUELTCYR-MDCOND.TTF</string>
      <string>HELVETICANEUELTW1G-ROMAN.OTF</string>
      <string>PRICEDOWNGTAVINT.TTF</string>
      <string>HELVETICANEUELTCOM-MD.TTF</string>
    </array>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Landscape-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Landscape</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
    </array>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>Apple Screen Recording</string>
    <key>CFBundleIdentifier</key>
    <string>com.rockstargames.gta3sa</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>Icon.png</string>
      <string>Icon-72.png</string>
      <string>Icon1.png</string>
      <string>Icon_144.png</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>NSAppleMusicUsageDescription</string>
    <key>DTXcode</key>
    <string>0832</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>gta3sa</string>
    <key>NSMainNibFile~ipad</key>
    <string></string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-220x20</string>
          <string>AppIcon-229x29</string>
          <string>AppIcon-240x40</string>
          <string>AppIcon-257x57</string>
          <string>AppIcon-260x60</string>
          <string>AppIcon-250x50</string>
          <string>AppIcon-272x72</string>
          <string>AppIcon-276x76</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.rockstargames.gta3sa</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>gta3sa</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
